<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a href="/companies">Companies</a>
        <a href="/companies/new">New Company</a>
        <a href="/drivers">Drivers</a>
        <a href="/drivers/new">New Driver</a>
        <a href="/cars">Cars</a>
        <a href="/cars/new">New Car</a>
    </nav>
    <h1>Driver Index Page</h1>
    <ul>
        <% drivers.forEach ((driver) => {%>
            <li>
                <a href="/drivers/<%=driver._id%>"><%=driver.name%></a>
                <form action="/drivers/<%=driver._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
            </li>
        <% })%>
    </ul>

</body>
</html>