<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Driver Show Page</h1>
    <p>Name: <%=driver.name%></p>
    <p>Age: <%=driver.name%></p>
    <p>Image: <%=driver.image%></p>
    <p>Cars:</p>
    <ul>
        <% driver.cars.forEach((car) => {%>
            <li>
                <%= car.name %>
            </li>
        <% }) %>
    </ul>

</body>
</html>