body {
    margin: 0;
}

nav {
    background-color: azure;
    padding: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background: turquoise;
    margin:0;
    margin-bottom: .5em;
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    margin: 3px;
}

li {
    list-style: none;
}

input[type=submit] {
    padding: .3em;
    font-size: 1em;
    border-radius: 10%;
}

