<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <h1>Index of companies</h1>
    <a href="/companies/new">Create a New Company</a>
    <ul>
        <% companies.forEach((company) => { %>
            <li>
                <a href="/companies/<%=company._id%>"> <%= company.name%> </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>